<div class="dashboard-footer" style="background: #252d47; color: white; margin-top: 450px; font-size: 14px; padding: 15px">
    © Copyright 2019. All Rights Reserved. Power by
    <a>
        <span style="color: fuchsia">IdeaLing</span>&nbsp;
        <span style="color: #00b3ee">Consulting</span>
    </a>
</div>
