<!--<div class="dashboard" style="width: 100%; display: flex; justify-content: center; margin-top: 10px">-->
<!--    <img src="assets/img/sbiLogoNew.png" width="50%">-->
<!--</div>-->
<!--<div>Welcome To SBI LH Bank Back Office</div>-->
<div class="ui-g">
    <div class="dashboard" style="width: 100%; display: flex; justify-content: center; margin-top: 10px">
        <img src="assets/img/sbiLogoNew.png"style="width: 50%">
        <!--            <img class="center" src="assets/img/lyhour3.png" style="width: 100%;padding: 0px;">-->
    </div>
    <p style="font-family: 'Arial Narrow' !important; font-size: 20px; margin-top: 10px; margin">
        Welcome To SBI LH Bank Back Office
    </p>
</div>
